language: php

sudo: false

php:
  - 7.0
  - 7.1
  - 7.2
  - nightly

cache:
  directories:
    - $HOME/.composer/cache

script:
  - vendor/bin/phpunit
  - composer update --no-interaction --prefer-source
  - vendor/bin/phpunit -v

before_script:
  - composer install --no-interaction

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover build/logs/clover.xml

notifications:
  irc: "irc.freenode.org#phpdocumentor"
  email:
    - mike.vanriel@naenius.com
    - ashnazg@php.net
    - boen.robot@gmail.com
