parameters:
    paths:
      - src

    checkGenericClassInNonGenericObjectType: false
    level: max
    ignoreErrors:

        - '#Method phpDocumentor\\Reflection\\File\\LocalFile::md5\(\) should return string but returns string\|false\.#'
        - '#Else branch is unreachable because ternary operator condition is always true\.#'
        #
        # all these $fqsen errors indicate the need for a decorator class around PhpParser\Node to hold the public $fqsen that Reflection is giving it)
        #
        # src/phpDocumentor/Reflection/NodeVisitor/ElementNameResolver.php
        - '#Access to an undefined property PhpParser\\Node\\Stmt\\Class_\|PhpParser\\Node\\Stmt\\Enum_\|PhpParser\\Node\\Stmt\\Interface_\|PhpParser\\Node\\Stmt\\Trait_::\$fqsen#'
        - '#Access to an undefined property PhpParser\\Node\\Stmt\\Namespace_::\$fqsen\.#'
        - '#Access to an undefined property PhpParser\\Node\\Stmt\\Enum_::\$fqsen\.#'
        - '#Access to an undefined property PhpParser\\Node\\Stmt\\EnumCase::\$fqsen\.#'
        - '#Access to an undefined property PhpParser\\Node\\Stmt\\Interface_::\$fqsen\.#'
        - '#Access to an undefined property PhpParser\\Node\\Stmt\\Function_::\$fqsen\.#'
        - '#Access to an undefined property PhpParser\\Node\\Stmt\\ClassMethod::\$fqsen\.#'
        - '#Access to an undefined property PhpParser\\Node\\Const_::\$fqsen\.#'
        - '#Access to an undefined property PhpParser\\Node\\Stmt\\PropertyProperty::\$fqsen\.#'
        #
        # src/phpDocumentor/Reflection/Php/Factory/Class_.php
        - '#Access to an undefined property PhpParser\\Node\\Stmt\\Class_::\$fqsen\.#'
        #
        # src/phpDocumentor/Reflection/Php/Factory/Trait_.php
        - '#Access to an undefined property PhpParser\\Node\\Stmt\\Trait_::\$fqsen\.#'
        #
        # there is one test case that prevents changing PropertyIterator::getDefault() to just return Expr (this is set in PhpParser)
        # src/phpDocumentor/Reflection/Php/Factory/Property.php
        - '#Parameter \#1 \$node of method PhpParser\\PrettyPrinterAbstract::prettyPrintExpr\(\) expects PhpParser\\Node\\Expr, PhpParser\\Node\\Expr\|string given\.#'
        #
        # Type hint in php-parser is incorrect.
        - '#Cannot cast PhpParser\\Node\\Expr\|string to string.#'

        - '#Parameter \#2 \$object of method phpDocumentor\\Reflection\\Php\\ProjectFactoryStrategy::matches\(\) expects object, mixed given.#'
        - '#Method phpDocumentor\\Reflection\\Php\\ValueEvaluator\\ConstantEvaluator::evaluate\(\) should return string but returns mixed.#'
